$red:#0b7676;
$red-dark:#096161;
$black:#333333;
$gray:#cccccc;
$light-gray:#b0acac;
$white:#fff;
$light:#6eabe9;
$skay:#f16022;
$skay-dark:#e04705;
$font-body: 'Lato', sans-serif;
$font-title: 'Montserrat', sans-serif;
$font-icon: 'FontAwesome';