/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor/spatie/laravel-activitylog/src/ActivityLogger.php
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/storage
/app/Providers/DeltadateServiceProvider.php
/app/Exceptions/Handler.php
composer.json
composer.lock
/cms/.vscode/settings.json